version: '3.8'

services:
  postgres:
    image: postgres:latest
    container_name: ebanking-postgres
    environment:
      POSTGRES_DB: ebanking
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  pgadmin:
    image: dpage/pgadmin4
    container_name: ebanking-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@ebanking.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres

volumes:
  postgres_data:
